.main-container{
    display: flex;
    background-color: rgb(218, 248, 148);
}
.course-container{
    width: 70%;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-right: 2px solid #EA5252;;
}